<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculator">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_equals_sign"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_equals_sign"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator">
        <activity android:name=".ui.investment.InvestmentActivity"></activity>
        <activity android:name=".ui.results.ResultsActivity" />
        <activity
            android:name=".ui.loan.LoanActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.currency.CurrencyActivity" />
        <activity android:name=".ui.volume.VolumeActivity" />
        <activity android:name=".ui.time.TimeActivity" />
        <activity android:name=".ui.temperature.TemperatureActivity" />
        <activity android:name=".ui.speed.SpeedActivity" />
        <activity android:name=".ui.numerial.NumeralSystemActivity" />
        <activity android:name=".ui.mass.MassActivity" />
        <activity android:name=".ui.length.LengthActivity" />
        <activity android:name=".ui.discount.DiscountActivity" />
        <activity android:name=".ui.date.DateActivity" />
        <activity android:name=".ui.dataconvert.DataConverterActivity" />
        <activity android:name=".ui.bmi.BMIActivity" />
        <activity android:name=".ui.share.AgeShareActivity" />
        <activity android:name=".ui.area.AreaActivity" />
        <activity android:name=".ui.age.AgeActivity" />
        <activity
            android:name=".ui.archive.ArchiveActivity"
            android:label="@string/title_activity_archive"
            android:theme="@style/Theme.Calculator.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>